@import '@material/react-button/index';
@import '@material/theme/_color-palette';

$mdc-theme-secondary: $material-color-brown-400;
$mdc-theme-primary: $material-color-red-a200;
$mdc-theme-background: #fff;

@import '@material/theme/mdc-theme';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
